@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');

.home1 {
    font-size: 0%;
}

.home1 h1 {
    font-family: 'Chakra Petch', sans-serif;
    margin-top: 2%;
    margin-left: 2.5%;
    font-size: 8vh;
}

.home1 h2 {
    font-family: 'Chakra Petch', sans-serif;
    margin-top: -10%;
    margin-left: 2.5%;
    font-size: 4vh;
}

.home1 img {
    margin-top: -5%;
    margin-left: 80%;
    width: 15%;
    height: 15%;
    border-radius: 50%;
   border-color: black;
}
