/* Import the Google Fonts using @import rule */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');

.center1 {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}

.center1 h1 {
  font-family: 'Chakra Petch', sans-serif;
  margin-top: 10px;
  font-size: 10vh;
}

.content {
  display: none;
}

.content.active  {
  display: block;
  background-color: rgb(89, 89, 89);
}

/* CSS */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #333;
  /* additional styles for the footer */
}

.footer p {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 2vh;
  color: #00ffe1;
}
